/*INTERFACE DE STREAMING - NETFLIX*/

    /*Cabeçalho*/

body {
    background: #141414;
}

.nav-caixa {
    width: 100%;
    top: 0;
}

nav {
    background: #141414;
    width: 100%;
    padding: 15px 0;
}

nav ul {
    position: absolute;
    top: 23px;
    left: 180px;
}

nav li {
    display: inline;
    font-size: 14px;
    font-family:'Arial';
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #e7e1e1;
}

.logo {
    width: 95px;
    height: auto;
    padding-left: 60px;
    padding-top: 5px;
}

.icones-nav {
    position: absolute;
    top: 12px;
    right: 60px;
}

.pesquisa, .notificacoes {
    height: 22px;
    width: auto;
    margin-left: 20px;
}

.perfis {
    height: 31px;
    width: auto;
    margin-left: 20px;
}

.banner {
    width: 100%;
    position: relative;
}

.titulo-serie-destaque {
    width: 500px;
    height: auto;
    position: absolute;
    top: 330px;
    left: 100px;
}

.resenha-serie-de-exibicao {
    font-family: 'arial';
    color: #FFFFF0;
    position: absolute;
    top: 505px;
    left: 100px;
}

.resenha-serie-de-exibicao h2 {
    margin-bottom: 25px;
}

.titulo {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 50px;
    color: #ffffff;
    font-family: 'arial';
}

.p-cinza {
    color: #A1A1A1;
}

.resenha {
    margin: 20px 0;
}

.resenha-creditos p {
    margin: 12px 0;
}

    /*Conteúdo principal*/

.conteudo-principal {
    margin-left: 60px;
    margin-bottom: 50px;
}

.conteudo-principal li {
    display: inline;
}

.minha-lista {
    margin-top: -20px;
}

.imagem {
    width: 220px;
    height: 122px;
}

    /*Rodapé*/

footer {
    width: 1200px;
    margin: 110px auto 20px;
}

footer ul {
    display: inline-block;
    width: 22%;
}

footer li {
    margin: 15px 0;
}

footer a {
    font-family: 'arial';
    font-size: 13px;
    color: #808080;
    text-decoration: none
}

footer a:hover {
    text-decoration: underline;
}

.rodape-caixa {
    margin-left: 100px;
}

.codigo {
    margin-top: 8px;
}

#codigo-servico {
    border: 2px solid #808080;
    padding: 7px;
}

#codigo-servico:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.copyright {
    font-family: 'arial';
    font-size: 12px;
    color: #808080;
    margin-top: 10px;
}
